In [16]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
# Importing Data file
data = pd.read_csv('features.csv')
dataset = pd.DataFrame(data)
dataset.columns

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2670 entries, 0 to 2669
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2670 non-null   float64
 1   B       2670 non-null   int64
 2   CR      2670 non-null   int64
 3   CG      2670 non-null   int64
 4   CB      2670 non-null   int64
 5   D       2670 non-null   int64
 6   CLASS   2670 non-null   int64
dtypes: float64(1), int64(6)
memory usage: 146.1 KB

In [17]:
dataset.describe().transpose()

        count        mean         std  min      25%       50%      75%     max
A      2670.0    0.586147    0.308171  0.0    0.397    0.6745    0.822     1.0
B      2670.0    0.000000    0.000000  0.0    0.000    0.0000    0.000     0.0
CR     2670.0  161.221348   45.937119  2.0  139.000  167.0000  195.000   249.0
CG     2670.0   90.542697   30.014138  1.0   74.000   94.0000  112.000   174.0
CB     2670.0   82.053558   28.535119  1.0   65.000   85.0000  101.000   151.0
D      2670.0  182.982022  150.852968  0.0   94.000  162.0000  254.000  1256.0
CLASS  2670.0    0.447940    0.497376  0.0    0.000    0.0000    1.000     1.0

In [13]:
dataset = dataset.replace('?', np.nan)
dataset = dataset.apply(lambda x: x.fillna(x.median()),axis=0)

# converting the hp column from object 'Bare Nuclei'/ string type to float
#dataset['Bare Nuclei'] = dataset['out'].astype('float64')
#dataset.isnull().sum()

In [14]:
from sklearn.model_selection import train_test_split

# To calculate the accuracy score of the model
from sklearn.metrics import accuracy_score, confusion_matrix

target = dataset["CLASS"]
features = dataset.drop(["CLASS"], axis=1)
X_train, X_test, y_train, y_test = train_test_split(features,target, test_size = 0.2, random_state = 10)
from sklearn.svm import SVC

# Building a Support Vector Machine on train data
svc_model = SVC(C= .1, kernel='linear', gamma= 1)
svc_model.fit(X_train, y_train)

prediction = svc_model .predict(X_test)
#print(prediction)
# check the accuracy on the training set
print(svc_model.score(X_train, y_train))
print(svc_model.score(X_test, y_test))

0.7415730337078652
0.700374531835206

In [15]:
import pickle
# save the model to disk
filename = 'cancermod.sav'
pickle.dump(svc_model, open(filename, 'wb'))